* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: wheat;
}

.go{
    height: 6.5vw;
    width: 7.8vw;
    /*background-color: red;*/
    position: absolute;
    right: 0;
    bottom: 4px;
}

.lowHome{
    height: 6.5vw;
    width: 4.75vw;
    /*background-color: red;*/
    position: absolute;
    right: 7.95vw;
    bottom: 4px;
}
.lowHomeL {
    bottom: 6.8vw;
    height: 4vw;
    width: 7.8vw;
    position: absolute;
    background-color: green;
}
.highHome {
    left: 7.95vw;
    top: 2vw;
    height: 6.48vw;
    width: 4.75vw;
    position: absolute;
    background-color: green;
}
.highHomeR {
    right: 0;
    bottom: 6.8vw;
    height: 4vw;
    width: 7.8vw;
    position: absolute;
    background-color: red;
}

